

body > h2{
    font-size: 4em;
    margin-top: 200px;
}

#carousel{
    display: flex;
    position: absolute;
    right: 0;
    top: 350px;
    padding-bottom: 20px;
    /* overflow: hidden; */
    width: 100%;
    transition: right 1s ease;
}

.map{
    width: 50%;
}

section > section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section > section > img{
    width: 900px;
    
}

#carousel > section:first-of-type{
    margin-left: 28%;
}

#carousel > section{
    margin-right: 28%;
}

main >section > section> a{
    margin-top: 30px;
    font-size: 3em;
    color: #1A100B;
    margin-bottom: 80px;
}


section > section > p{
   font-size: 1.5em;
   width: 100%;
}

#carousel.cycleZero{
    right: 0%;
}

#carousel.cycleOne{
    right: 72.3%;
}

#carousel.cycleTwo{
    right: 145%;
}
#carousel.cycleThree{
    right: 217%;
}

#carousel.cycleFour{
    right: 290%;
}


#next{
    position: absolute;
    bottom: 12%;
    width: 70px;
    right: 35%;
    cursor: pointer;
}