@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jersey+15&family=Rye&display=swap');



* {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #D2A461;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(img/bg.png);
    background-position: center;
    background-size: contain;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
}

nav {
    position: fixed;
    display: inline-flex;
    width: 90%;
    left: 5%;
    transition: width 0.5s ease, left 0.5s ease, border-radius 0.5s ease, top 0.5s ease, background-color 0.5s ease;
    height: 90px;
    border: 4px solid #211102;
    border-radius: 35px;
    border-bottom: 0;
    top: 10px;
    background-color: #211102ac;
    box-shadow: 0px 0px 10px 0px #572e08;
    z-index: 10;
}


nav>div>h2 {
    color: #D2A461;
    font-size: 2em;
    margin-right: 5%;
}

nav>div {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav>div>img {
    height: 100%;
    width: 10%;
}



nav.expand {
    /* animation: decreaseRadius 0.5s forwards; */
    width: 99.8%;
    left: 0;
    border-radius: 0px;
    top: 0px;
    background-color: #211102;
}

nav>img {
    transform: scale(90%);

}


header {

    display: flex;
    width: 73%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 250px; */
    height: 99vh;
    z-index: 2;
}



h1 {
    font-size: 5em;
}

header>aside>h2 {
    font-size: 2em;
}

header>aside {
    margin-right: 20px;
}

header>img {
    width: 40%;
}





.about {

    z-index: 3;
    width: 100%;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-flow: row nowrap;
    background-color: #1A100B;
    justify-content: space-between;
}

.treeOne {
    position: absolute;
    background-image: url(img/tree.png);
    width: 100%;
    height: 1200px;
    background-position: center;
    top: 250px;
    background-size: cover;
}

.about>aside {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    width: 50%;
}

.about>aside>h2 {
    font-size: 4em;
}

.about>aside>p {
    width: 100%;
    font-size: 2em;
}

.about>aside:last-of-type>img {
    width: 35%;
}

.about>aside:first-of-type>img {
    width: 20%;
    margin-top: 20px;

}

.resume {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 15%;
    z-index: 4;
    height: 800px;
    align-items: center;
}

.map {
    z-index: 3;
    background-image: url(img/map.png);

    width: 80%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 1400px;
}

.space {
    top: 1300px;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 1300px;
    background-color: #1A100B;
}

.resume>aside>h2,
.resume>aside>p {
    color: #1A100B;
}

.resume>aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.resume>aside>h2 {
    font-size: 5em;
    margin-bottom: 50px;
}

.resume>aside>p {

    font-size: 2em;
    width: 80%;
    margin-bottom: 50px;
}


.resume>aside>img {
    width: 40%;
}

.treeTwo {
    position: absolute;
    background-image: url(img/tree.png);
    width: 100%;
    height: 800px;
    background-position: center;
    top: 2300px;
    background-size: cover;
    transform: rotate(180deg);
    z-index: 1;
}

footer {
    z-index: 2;
    margin-top: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}


footer>h2 {
    font-size: 4em;
    z-index: 7;
}

footer>p {
    font-size: 2em;

}

footer>img {
    width: 15%;
}

.hidden{
    display: none;
}


@media screen and (max-width:1025px) {
    nav>div>h2 {
        font-size: 1.4em;
    }

    nav>div>img {
        width: 13%;

    }

    header {
        width: 100%;
        height: 100vh;
    }

    .resume {
        /* height: 500px; */
    }

    .map {
        height: 800px;
    }

    .resume>aside>h2 {
        font-size: 3.5em;
    }

    .space {
        height: 900px;
    }

    .treeTwo {
        top: 1900px;
    }

    footer {
        margin-top: 15%;
    }

    footer>img {
        width: 20%;
    }

    .about>aside:first-of-type>img {
        width: 25%;
    }

}

@media screen and (max-width:481px) {
    header {
        height: 676px;
        flex-flow: column ;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 3em;
    }

    header>aside>h2 {
        font-size: 1em;
        text-align: center;
        margin-bottom: 10%;
    }
    header > img{
        width: 50%;
    }

    .treeOne{
        height: 480px;
        top: 400px;
    }

    .about > aside > h2{
        font-size: 2em;
    }

    .about > aside > p{
        font-size: 1em;
    }

    .about > aside:first-of-type > img{
        width: 100px;
    }

    .space{
        top: 800px;
        height: 700px;
    }

    .map{
        width: 100%;
        top: 900px;
            height: 600px;
    }

    .resume{
        height: 500px;
    }

    .resume > aside > h2{
        font-size: 2.1em;
    }

    .resume > aside > p{
        font-size: 1.2em;
    }

    .resume > aside > img{
        width: 125px;
    }

    .treeTwo{
        top: 1160px;
    }
    footer{
        margin-top: 40%;
    }

    footer > h2{
        font-size: 2.1em;
    }

    footer > p{
        font-size: 1.2em;
        text-align: center;
    }

    footer > img{
        width: 30%;
    }

    .hide{
        display: none;
    }

    .hamburger{
        background-color: #67471F;
        width: 50px;
        height: 50px;
        margin-right: 5%;
        border-radius: 10px;
    }
    .hamburger > img{
        width: 50%;
    }

    nav{
        justify-content: space-between;
        align-items: center;
    }

    nav > img{
        width: 150px;
        color: aliceblue;
    }
}