@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jersey+15&family=Rye&display=swap');

* {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #D2A461;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(img/bg.png);
    background-position: center;
    background-size: contain;
    
}

nav {
    position: fixed;
    display: inline-flex;
    width: 70%;
    left: 15%;
    transition: width 0.5s ease, left 0.5s ease, border-radius 0.5s ease;
    border: 2px solid #D2A461;
    border-radius: 35px;
    border-bottom: 0;
    top: 20px;
    /* background-color: #4b321a; */
}


nav>div>h2 {
    color: #D2A461;
    font-size: 35px;
    margin-right: 20px;
}

nav>div {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav>div > img{
    height: 100%;
    width: 10%;
}

header{
    margin-top: 160px;
}

nav.expand {
    /* animation: decreaseRadius 0.5s forwards; */
    width: 99.8%;
    left: 0;
    border-radius: 0px;
}

